/* Rectangle 1 */
body{
  width: 1440px;
  background: #D6E2F0;
  font-family: 'Outfit';
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rectangle 2 */


.main-frame{
  width: 340px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-left: 600px;
  padding-bottom: 10px;
  margin-top: 100px;
}

/* image-qr-code 1 */
img{
  width: 310px;
  height: 329px;
  background: url(image-qr-code.png);
  border-radius: 25px;
  padding: 10px 10px 5px 15px;
}

/* Improve your Front-end skills by building projects */

h2{
  width: 305px;
  height: 66px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
  text-align: center;
  color: #1F3251;
  margin-left: 25px;
}

/* Scan the QR code to visit the front end Mentor and take your coding skills to the next level */

p{
  width: 262px;
  height: 57px;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 19px;
  text-align: center;
  color: #7B879D;
  margin-left: 48.5px;
  }

  footer{
    margin-left: 550px;
    margin-top: 15px;
    color: #1F3251;
  }

  /* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/*Media Query*/

  @media screen and (max-width:375px) {
    .main-frame{
      margin-left: 8px;
    }
  }
